// reset slick slider css

.slick-prev {
    border: 2px solid #d7d7d7 !important;
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-next {
    border: 2px solid #d7d7d7 !important;
    right: -10px !important;
    z-index: 100 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-disabled {
    display: none !important;
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: #2b2a2a !important;
}

.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;
    }

    &.section-about {
        height: 500px !important;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

    &.section-handbook {
        background: #f5f5f5;

    }

    .section-body {
        .section-customize {
            // margin-left: 19px;

            .bg-image {
                height: 210px;
                width: 90%;
                background-position: center center;
                background-repeat: no-repeat !important;
                background-size: cover;
                background-color: #eee;

                &.section-specialty {
                    // background-image: url('../../assets/specialty/co-xuong-khop.png');
                }

                &.section-medical-facility {
                    // background-image: url('../../assets/medical-fac/ND2.jpg');
                    background-size: contain;
                    background-color: white;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                }

                &.section-outstanding-doctor {
                    // background-image: url('../../assets/outstanding/bs-tran-minh-khuyen.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.section-handbook {
                    // background-image: url('../../assets/handbook/quy-trinh-nieng-rang-lac-viet.jpg');
                }
            }
        }
    }
}

.section-share {
    height: 350px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 20px;
            padding-top: 20px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                display: block;
                padding: 10px 15px;
                border: none;
                outline: none;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    background: #f7d800;
                    color: #fff;
                }
            }
        }


    }
}

.section-outstanding-doctor {

    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .section-customize {
        padding: 5px;
        cursor: pointer;

        .customize-border {
            // border: 3px solid #c9c5c0;
            margin: 0 45px;
            padding: 30px;

            .position {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

.home-footer {
    text-align: center;
    padding-top: 8px;
    height: 40px;

    a {
        text-decoration: none;
    }
}

.section-about {
    padding: 0 100px;

    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
            padding: 0 20px;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
                font-style: italic;
                padding-top: 15px;
            }
        }
    }
}